<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>signup|olAcademy</title>
</head>



<body>
    

    <div class="wrapper">
        <div class="container">

            <div class="signup">Sign Up</div>
           
              

            <div class="signup-form">
                <form action="/register" method="POST">
                <input type="text" placeholder="Your Email Address" class="input" name="email"><br />
                <input type="text" placeholder="Choose a Username" class="input" name="firstname"><br />
                <input type="password" placeholder="Choose a Password" class="input" name="password"><br />
                  <input type="password" placeholder="Password" class="input" name="confirmpassword"><br />
            

                <p>What is your gender?
                     <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female
                </p>
               
                <input type="date" id="birthday" name="birthday" placeholder="DOB" class="input">


                <input class="btn1" type="submit" value="Register">
                  <a href="/login">   Log In </a>
                </form>
                
            </div>

          

        </div>
    </div>






</body>

</html>